<div class="half">
  <form id="add-member" action="/members" method="POST">
    <p class="name">Add New Member</p>
    <input type="text" name="firstname" placeholder="Name" required />
    <input type="submit" value="Add Member" class="dark settings-buttons" />
  </form>
</div>
