<nav>
  <a class="brand-parent" href="./"
    ><img src="./img/logo.png" class="brand"
  /></a>
  <div class="nav-item">
    <a href="/#login" class="nav-item nav-button dark-border">Login</a>
    <a href="/signup" class="nav-item nav-button dark-border">Sign Up</a>
    <a href="/about" class="nav-item">Our Team</a>
  </div>
</nav>
