<li>
  <p class="name">Rory Letteney</p>
  <form id="member">
    <input name="firstname" value="Rory" placeholder="First Name" required>
    <input name="lastname" value="Letteney" placeholder="Last Name" required>
  </form>
  <input type="submit" form="member" formaction="/members?_method=PUT" formmethod="POST" value="Update">
  <input type="submit" form="member" formaction="/members?_method=DELETE" formmethod="POST" value="Delete">
</li>