<h2>Individual Leaderboard</h2>
<table class="dashboard-table" id="members-leaderboard">
  <thead>
    <tr>
      <th>NAME</th>
      <th class="align-right">WIN TOTAL</th>
      <th class="align-right">LOSS TOTAL</th>
      <th class="align-right">WIN PERCENTAGE</th>
    </tr>
  </thead>
  <% memberLeaderboard.sort((a, b) => b.winPercentage - a.winPercentage) %> <%
  memberLeaderboard.forEach(member => { %>
  <tr>
    <td class="table-name"><%= member.name %></td>
    <td><%= member.wins %></td>
    <td><%= member.losses %></td>
    <td><%= Math.floor(member.winPercentage * 100) %> %</td>
  </tr>
  <% }) %>
</table>
