<table id="members-leaderboard">
  <thead>
    <tr>
      <th>NAME</th>
      <th>WIN TOTAL</th>
      <th>LOSS TOTAL</th>
      <th>WIN PERCENTAGE</th>
    </tr>
  </thead>
  <% memberLeaderboard.forEach(member => { %>
  <tr>
    <td class="table-name"><%= member.name %></td>
    <td><%= member.wins %></td>
    <td><%= member.losses %></td>
    <td><%= member.winPercentage %></td>
  </tr>
  <% }) %>
</table>
