<form class="hidden" id="member">
  <p class="name">Edit Member</p>
  <input name="name" value="Rory" placeholder="Name" required />
  <input class="hidden" name="currentname" value="Rory Letteney" required />
</form>
<input
  type="submit"
  form="member"
  class="dark settings-buttons"
  formaction="/members?_method=DELETE"
  formmethod="POST"
  value="Delete"
/>
