  <li>
    <form class="hidden" id="member">
      <input name="firstname" value="Rory" placeholder="First Name" required />
      <input
        name="lastname"
        value="Letteney"
        placeholder="Last Name"
        required
      />
      <input class="hidden" name="currentname" value="Rory Letteney" required />
    </form>
    <input
      type="submit"
      class="dark-border"
      form="member"
      formaction="/members?_method=PUT"
      formmethod="POST"
      value="Update"
    />
    <input
      type="submit"
      form="member"
      class="dark-border"
      formaction="/members?_method=DELETE"
      formmethod="POST"
      value="Delete"
    />
  </li>
</html>
