<<<<<<< HEAD
<div class="flex-container">
  <%- include('./addMember.ejs') %>
</div>
=======
<div class="half left">
  <p class="name">Add Member</p>
  <%- include('./addMember.ejs') %>
</div>
<div class="half right">
  <p class="name">Edit Member</p>
  <%- include('./member.ejs') %>
</div>
>>>>>>> master
<div class="half">
  <p class="name">Add Game</p>
  <%- include('./newgame.ejs', { members }) %>
</div>

<!-- SET MINIMUM GAME THRESHOLD -->
