<div class="half">
  <p class="name">Add Member</p>
  <%- include('./addMember.ejs') %>
</div>
<div class="half">
  <p class="name">Edit Member</p>
  <%- include('./member.ejs') %>
</div>

<!-- SET MINIMUM GAME THRESHOLD -->
