<div class="flex-container form-control">
<!-- <p class="name">Add Game</p> -->
<%- include('./newgame.ejs', { members }) %>
</div>
<div class="flex-container member-bottom">
  <%- include('./addMember.ejs') %>


<!-- SET MINIMUM GAME THRESHOLD -->
