body,
p,
h1,
h2,
h3,
nav {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #020000; */
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.white {
  color: #fff;
}
h1 {
  font-size: 42px;
  line-height: 44px;
  font-weight: 500;
}
h2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}
.uppercase {
  text-transform: uppercase;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.diamond-icon {
  width: 20px;
}
.cover-image-container2 {
  background-color: #020000;
  color: #fff;
  float: left;
  padding: 10px;
}

nav {
  margin: 0;
  background-color: #fff;
  width: 100%;
  color: #fff;
  height: auto;
  padding: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 1fr;
  line-height: 40px;
  align-items: center;
}
.nav-item {
  grid-row: 1;
  align-self: right;
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
}
.brand {
  max-width: 100px;
  height: auto;
  margin: 10px;
}
.brand-parent {
  display: grid;
  align-items: center;
  justify-self: left;
  grid-row: 1;
}
a {
  text-decoration: none;
  color: #212b36;
}
.half {
  width: 50%;
  float: left;
  padding: 10px;
}
.cover-image-container {
  width: 33%;
  float: left;
}
.button-lg {
  width: 100%;
  line-height: 50px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  outline-style: none;
  font-size: 18px;
}
.nav-button {
  padding: 5px;
  margin-right: 10px;
}
.dark-border {
  border: 2px solid #020000;
}
.sign-up {
  background-color: grey;
}
.lg {
  width: 200px;
}
.dark {
  background-color: #020000;
  color: #fff;
}
.cover {
  text-align: center;
  background-color: #fff;
  padding: 25px;
  overflow: hidden;
}
.bio a {
  font-size: 24px;
}
li {
  text-align: left;
}
/* color of text on new-game page */
.green {
  color: green;
  text-align: center;
}
.red {
  color: rgb(223, 138, 138);
  margin-bottom: 3px;
}
.game-score-header {
  position: relative;
  top: -15%;
}
.blue-border {
  background-color: #fff !important;
  border: 2px solid #020000;
}

table {
  border-collapse: collapse;
  width: 90%;
}

.bio {
  width: 200px;
  margin: 10px;
  background-color: #fff;
  padding: 15px;
}
.subheading {
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.feature {
  width: 33%;
}
.green-border {
  border: 2px solid green;
  margin-bottom: 5px;
}
.red-border {
  border: 2px solid rgb(223, 138, 138);
  margin-bottom: 5px;
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 27px;
    line-height: 36px;
    font-weight: 500;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  h3 {
    font-size: 21px;
    line-height: 28px;
    font-weight: 400;
  }
  .h4 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .h5 {
    font-size: 17px;
    line-height: 24px;
    font-weight: 500;
  }
  .subheading {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .caption {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
  }
  .bio {
    width: 330px;
    margin: 10px;
    background-color: #fff;
  }
  .feature {
    width: 80%;
    height: 200px;
  }
  .cover-image-container {
    width: 100%;
  }
  .desktop {
    visibility: hidden;
  }
  .half {
    width: 80%;
    padding: 10px;
  }
}
