form {
  /* max-width: 400px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #fff;
}
input {
  line-height: 35px;
  outline-style: none;
  width: 100%;
  margin: 5px;
  text-align: left;
  padding: 5px;
}
.center-row {
  width: 98%;
  height: 10%;
}
textarea {
  width: 96%;
  margin-top: 2%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.text-center {
  text-align: center;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  clear: both;
}
.left {
  float: left;
}