form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  background-color: #fff;
}
input {
  line-height: 35px;
  outline-style: none;
  width: 100%;
  margin: 5px;
  text-align: left;
  padding: 5px;
}
.center-row {
  width: 98%;
  height: 10%;
}
textarea {
  width: 96%;
  margin-top: 2%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 6%;
  margin: 0;
}

.text-center {
  text-align: center;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  clear: both;
}
.left {
  float: left;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  height: 30px;
  grid-column-gap: 30px;
  padding: 10px 0;
  background-color: #fff;
  border-top: 2px solid #222;
}
