.dashboard-form {
  max-width: 1000px;
  margin: 40px auto 0 auto;
  color: #1c2260;
  background-color: #dfe3e8;
}

.dashboard-wrapper {
  margin: 0 auto;
}

.dashboard-form {
  max-width: 800px;
  margin: 0 auto;
}

.dashboard-wrapper h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* LEADERBOARD TABLES ======================= */

.table-name {
  text-align: left;
}

table {
  width: 1000px;
  height: 600px;
  overflow-y: scroll;
  margin: 0 auto;
  display: block;
}

thead {
  border-bottom: 2px solid #1c2260;
}

table th {
  padding: 10px 20px;
  text-align: left;
}

.align-right {
  text-align: right;
}

table td {
  padding: 20px 20px;
  text-align: right;
  border-bottom: 1px solid #1c2260;
}

table tfoot th a {
  background: #1c2260;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 20px;
  margin-top: 20px;
}

tfoot {
  text-align: left;
}
