.dashboard-form {
  max-width: 800px;
  margin: 40px auto 0 auto;
}

.dashboard-header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.dashboard-header ul li button {
  cursor: pointer;
  color: #1c2260;
  background-color: #dfe3e8;
}

.dashboard-wrapper {
  /* margin: 0 auto; */
  /* width: 80%; */
}

.dashboard-form {
  max-width: 700px;
  margin: 0 auto;
}

.dashboard-wrapper h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* LEADERBOARD TABLES ======================= */

.table-name {
  text-align: left;
}

table {
  width: 100%;
  max-width: 700px;
  /* margin: 0 auto; */
  height: 600px;
  overflow-y: scroll;
  margin: 0 auto 80px auto;
  display: block;
}

thead {
  border-bottom: 2px solid #1c2260;
}

table th {
  padding: 10px 20px;
  text-align: left;
}

.align-right {
  text-align: right;
}

table td {
  padding: 20px 20px;
  text-align: right;
  border-bottom: 1px solid #1c2260;
}

table tfoot th a {
  background: #1c2260;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 20px;
  margin-top: 20px;
}

tfoot {
  text-align: left;
}

::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #1c2260;
}

/***********STRIPE*************/

.stripe button,
footer button {
  height: 30px;
  width: 150px;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #222;
  color: #222;
  transition: all .3s ease;
  box-sizing: border-box;
}

/***********FOOTER*************/

footer button {
  grid-row: 1;
  text-align: center;
  cursor: pointer;
}
