.dashboard-form {
  max-width: 800px;
  margin: 30px auto 0 auto;
}

.dashboard-header ul li button {
  cursor: pointer;
  color: #000;
  background-color: #dfe3e8;
}

/* .dashboard-form {
  max-width: 700px;
  margin: 0 auto;
} */

.dashboard-wrapper h2 {
  text-align: center;
  margin-bottom: 40px;
}

/* LEADERBOARD TABLES ======================= */

.table-name {
  text-align: left;
}

table {
  width: 100%;
  max-width: 700px;
  /* margin: 0 auto; */
  height: 600px;
  overflow-y: scroll;
  margin: 0 auto 80px auto;
  display: block;
}

thead {
  border-bottom: 2px solid #000;
}

table th {
  padding: 10px 20px;
  text-align: left;
}

.align-right {
  text-align: right;
}

table td {
  padding: 20px 20px;
  text-align: right;
  border-bottom: 1px solid #000;
}

table tfoot th a {
  background: #000;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 20px;
  margin-top: 20px;
}

tfoot {
  text-align: left;
}

/* @media (max-width: 600px) {
  table td,
  th {
    padding: 10px 10px;
  }
} */

::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #737373;
}

.flex-container input {
  font-size: 1.1rem;
  width: 100%;
}

center {
  text-align: center;
}

/***********STRIPE*************/

.stripe button,
footer button {
  height: 30px;
  width: 150px;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #222;
  color: #222;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

/***********FOOTER*************/

footer button {
  grid-row: 1;
  text-align: center;
  cursor: pointer;
}
