.dashboard-header {
  max-width: 1000px;
  margin: 0 auto;
}

.dashboard-header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.dashboard-header ul li button {
  cursor: pointer;
}

/* LEADERBOARD TABLES ======================= */

.table-name {
  text-align: left;
}

thead {
  border-bottom: 2px solid #000;
}

table th {
  padding: 10px 20px;
}

table td {
  padding: 10px 20px;
  text-align: right;
  border-bottom: 1px solid #ccc;
}
