.dashboard-form input[type="radio"] {
  display: none;
}

/* .dashboard-form #team-radio {
  display: block;
} */

.dashboard-form label {
  position: relative;
  display: inline-block;
  margin: 20px 30px;
}

.dashboard-form .dashboard-wrapper {
  position: absolute;
  display: none;
  top: 30%;
  left: 10%;
}

.dashboard-form input[type="radio"]:checked + .dashboard-wrapper {
  display: block;
}

.dashboard-form input[type="radio"]:focus {
  text-decoration: underline;
}
