.dashboard-form input[type="radio"] {
  display: none;
}

/* .dashboard-form #team-radio {
  display: block;
} */

.dashboard-form label {
  position: relative;
  display: inline-block;
  margin: 20px 30px;
  border: 1px solid #1c2260;
  padding: 20px 30px;
  cursor: pointer;
}

.dashboard-form label:hover {
  background-color: #1c2260;
  color: #fff;
}

.dashboard-form .dashboard-wrapper {
  position: absolute;
  display: none;
  top: 30%;
  left: 13%;
}

.dashboard-form input[type="radio"]:checked + .dashboard-wrapper {
  display: block;
}

.dashboard-form input[type="radio"]:focus {
  text-decoration: underline;
}
