<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head.ejs %>

  <body>
    <%- include ../partials/main-nav.ejs %>
    <div>
      <h2 class="text-center">About the euchreV team</h2>
      <hr />
    </div>
    <div class="flex-container">
      <div class="bio">
        <img src="../img/michele.jpg" class="img-fluid" />
        <h2>Michele Saba</h2>
        <hr />
        <h3 class="subheading">Digital Creator</h3>
        <h1>
          <a href="#" target="_blank"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#" target="_blank"><i class="icon ion-logo-github"></i></a>
          <a href="https://www.instagram.com/michelemsaba/" target="_blank"
            ><i class="icon ion-logo-instagram"></i
          ></a>
        </h1>
        <h3 class="subheading">Key Contributions</h3>
        <ul>
          <li>Front-end Development</li>
          <li>Branding + Text Content</li>
        </ul>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img src="../img/austin.jpg" class="img-fluid" />
        <h2>Austin Jess</h2>
        <hr />
        <h3 class="subheading">Software Developer</h3>
        <h1>
          <a href="#" target="_blank"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#" target="_blank"><i class="icon ion-logo-github"></i></a>
        </h1>
        <h3 class="subheading">Key Contributions</h3>
        <ul>
          <li>EJS Templating</li>
          <li>Node.js / SQL</li>
          <li>General Styling</li>
        </ul>
        <p>
          I'm a software developer in training who will be going to work for FabPro upon graduation from DeltaV Code School. I love finding creative ways to 
        </p>
      </div>
      <div class="bio">
        <img src="../img/floyd.jpg" class="img-fluid" />
        <h2>Floyd Orr</h2>
        <hr />
        <h3 class="subheading">Title</h3>
        <h1>
          <a href="#" target="_blank"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#" target="_blank"><i class="icon ion-logo-github"></i></a>
        </h1>
        <h3 class="subheading">Key Contributions</h3>
        <ul>
          <li>#</li>
          <li>#</li>
        </ul>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img src="../img/rory.jpg" class="img-fluid" />
        <h2>Rory Letteney</h2>
        <hr />
        <h3 class="subheading">Full-Stack Web Developer</h3>
        <h1>
          <a href="https://www.linkedin.com/in/rory-letteney/" target="_blank"><i class="icon ion-logo-linkedin"></i></a>
          <a href="https://github.com/RoryLetteney" target="_blank"><i class="icon ion-logo-github"></i></a>
          <a href="https://letteney.software" target="_blank"><i class="icon ion-md-laptop"></i></a>
        </h1>
        <h3 class="subheading">Key Contributions</h3>
        <ul>
          <li>NodeJS + SQL</li>
          <li>EJS + Data Manipulation</li>
        </ul>
        <p>
          With a specialization in JavaScript and CSS, I have a dedication to my craft that you will seldom find elsewhere. This means your product will be built with a level of quality you can be proud to deliver to your customers.
        </p>
      </div>
    </div>
  </body>
</html>
