<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="./css/base.css" />
    <link rel="stylesheet" type="text/css" href="./css/layout.css" />
    <title>Meet The Team</title>
  </head>
  <body>
    <%- include ../partials/main-nav.ejs %>
    <header>
      <h1 class="text-center">Meet The Team</h1>
      <p class="heading">EuchreV</p>
    </header>
    <div class="container">
      <div class="bio">
        <img class="img-fluid" src="../img/michele.jpg" />
        <h2>Michele Saba</h2>
        <p class="subheading blue">Junior Web Developer</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img class="img-fluid" src="https://via.placeholder.com/350" />
        <h2>Name</h2>
        <p class="subheading blue">Title</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img class="img-fluid" src="https://via.placeholder.com/350" />
        <h2>Name</h2>
        <p class="subheading blue">Title</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img class="img-fluid" src="https://via.placeholder.com/350" />
        <h2>Name</h2>
        <p class="subheading blue">Title</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
    </div>
  </body>
</html>
