<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="./img/trophy.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="./css/base.css" />
    <link rel="stylesheet" type="text/css" href="./css/layout.css" />
    <title>Meet The Team</title>
  </head>
  <body>
    <header>
      <%- include ../partials/nav.ejs %>
    </header>
    <div class="container">
      <h1 class="text-center">Meet The Team</h1>
    <div class="container">
      <div class="bio">
        <img class="img-fluid" src="../img/michele.jpg" alt="Michele Saba"/>
        <h2>Michele Saba</h2>
        <p class="subheading dark">Junior Web Developer</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! 
        </p>
      </div>
      <div class="bio">
        <img class="img-fluid" src="../img/austin.png" alt ="Austin Jess" />
        <h2>Austin Jess</h2>
        <p class="subheading dark">Title</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img class="img-fluid" src="../img/floyd.jpg" alt="Floyd Orr" />
        <h2>Floyd Orr</h2>
        <p class="subheading dark">Title</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img class="img-fluid" src="../img/rory.jpg" />
        <h2>Rory Letteney</h2>
        <p class="subheading dark">Title</p>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
    </div>
  </body>
</html>
