<!DOCTYPE html>
<html lang="en">
  <%- include ../partials/head.ejs %>

  <body>
    <%- include ../partials/main-nav.ejs %>
    <div class="flex-container">
      <div class="bio">
        <img src="../img/michele.jpg" class="img-fluid" />
        <h2>Michele Saba</h2>
        <h3 class="subheading">Digital Creator</h3>
        <h1>
          <a href="#"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#"><i class="icon ion-logo-github"></i></a>
          <a href="#"><i class="icon ion-logo-instagram"></i></a>
        </h1>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img src="../img/austin.jpg" class="img-fluid" />
        <h2>Austin Jess</h2>
        <h3 class="subheading">Title</h3>
        <h1>
          <a href="#"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#"><i class="icon ion-logo-github"></i></a>
        </h1>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img src="../img/floyd.jpg" class="img-fluid" />
        <h2>Floyd Orr</h2>
        <h3 class="subheading">Title</h3>
        <h1>
          <a href="#"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#"><i class="icon ion-logo-github"></i></a>
        </h1>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
      <div class="bio">
        <img src="../img/rory.jpg" class="img-fluid" />
        <h2>Rory Letteney</h2>
        <h3 class="subheading">Title</h3>
        <h1>
          <a href="#"><i class="icon ion-logo-linkedin"></i></a>
          <a href="#"><i class="icon ion-logo-github"></i></a>
        </h1>
        <p>
          The best Lorem Ipsum Generator in all the sea! Heave this scurvy
          copyfiller fer yar next adventure and cajol yar clients into walking
          the plank with ev'ry layout! Configure above, then get yer pirate
          ipsum...own the high seas, arg!
        </p>
      </div>
    </div>
  </body>
</html>
