<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>

<body>

  <main>
    <header class="dashboard-header">
      <ul>
        <li><a href="">TEAMS</a></li>
        <li><a href="">MEMBERS</a></li>
        <li><a href="">SETTINGS</a></li>
      </ul>
    </header>

    <%- include ../partials/members.ejs %>

    <%- include ../partials/teams.ejs %>

    <%- include ../partials/settings.ejs %>

  </main>

</body>
</html>