<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/head.ejs %>

<body>

  <main>
    <header>
      <ul>
        <li><a>TEAMS</a></li>
        <li><a>MEMBERS</a></li>
        <li><a>SETTINGS</a></li>
      </ul>
    </header>

    <%- include ../partials/members.ejs %>

    <%- include ../partials/teams.ejs %>

    <%- include ../partials/settings.ejs %>

  </main>

</body>
</html>