<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head.ejs %>

<body>
  <%- include ../partials/main-nav.ejs %>
  <section class="flex-container">
    <form class="flex-container" action="/groups" method="GET">
      <input name="groupname" type="text" placeholder="Group Name" />
      <input name="password" type="password" placeholder="Password" />
      <button type="submit" class="button-lg blue">
        Sign In
      </button>
      <a href="/signup" class="button-lg blue-border text-center">Sign Up</a>
    </form>
  </section>
</body>

</html>