<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Game Scores</title>
  </head>

<%- include ../partials/head.ejs %>

<body>
  <%- include ../partials/main-nav.ejs %>
  <main class="flex-container">
    <%- console.log()-%>
    <form id="signup" class="flex-container" action="/gamescore" method="POST">
      <h2 class="green">Winning Team</h2>
        <select class='green-border center-row'>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <select class='green-border center-row'>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <h2 class="red">losing Team</h2>
        <select class='red-border center-row'>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
        <select class='red-border center-row'>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      <textarea rows="9" cols="65" placeholder='Notes'></textarea >
      <a href="/" class="button-lg blue-border text-center">Submit</a>
    </form>
  </main>
</body>

</html>