<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stripe Checkout Integration</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
      const stripe = Stripe(publishableKey);

      stripe.redirectToCheckout({
        sessionId: '{{CHECKOUT_SESSION_ID}}',

      }).then(result => {
        console.log(result);
      })

      const checkout = document.getElementById('stripe-checkout');
      checkout.addEventListener('click', (e) => {
        stripe.redirectToCheckout();
      })
    </script>
  </head>
  <body>
    <h2>Stripe Checkout</h2>
    <button id="stripe-checkout">CHECKOUT</button>
  </body>
</html>
