<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Stripe Checkout Integration</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h2>Go To Stripe Checkout</h2>
    <p>Lifetime subscription is just a one-time payment of $10!</p>
    <button id="stripe-checkout">PROCEED</button>
    <script>
      const pk_test_key = "pk_test_muKyN9msiWcPaexO3PP1Rss400UtbItLmh";
      const stripe = Stripe(pk_test_key);

      const checkoutButton = document.getElementById("stripe-checkout");
      checkoutButton.addEventListener("click", () => {
        stripe
          .redirectToCheckout({
            sessionId: "<%= sessionId %>"
          })
          .then(err => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
