<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head.ejs %>

<body>
  <%- include ../partials/main-nav.ejs %>
  <main>
    <section class="flex-container sign-up">
      <form id="signup" class="flex-container" action="/groups" method="POST">
        <h2 class="signup__title">New Group</h2>
        <input name="groupname" type="text" placeholder="The Fighting Irish" required>
        <input name="email" type="email" placeholder="Group Email" required>
        <input name="password" type="password" placeholder="Password" required>
        <button type="submit" class="button-lg dark">
          Create Group
        </button>
        <a href="/" class="button-lg blue-border text-center">Login</a>
      </form>
    </section>
  </main>
</body>

</html>